header{
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px 10px 20px;

        .logo{
            font-size: 18px;
        }

        .logo:hover{
            cursor: pointer;
        }

        .icon-shop-car{
            width: 25px;

            img{
                width: 100%;
            }

            img:hover{
                cursor: pointer;
            }
        }
    }
}