@import "../../index.scss";

header{
    background-color: $primaryColor;
    border-bottom: 4px solid #F2EFEB;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;

    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px 10px 20px;

        .nav-content{
            display: flex;

            .logo{
                font-size: 18px;
                color: $secondaryColor;
                text-decoration: none;
            }
    
            .logo:hover{
                cursor: pointer;
            }

            p{
                margin: 0 1rem;
            }

            nav{
                span{
                    padding: 0 0.5rem;
                    color: $tertiaryColor;
                }

            }

            span:last-child{
                color: $quaternaryColor;
                font-weight: bold;
            }
        }

        .icon-shop-car{
            display: flex;
            width: 2.5rem;

            span{
                border-radius: 50px;
                font-size: 14px;
                width: 1rem;
                text-align: center;
                margin-right: 1px;
                padding: 2px;
                background-color: $secondaryColor;
                color: $primaryColor;
            }

            img{
                width: 100%;
            }

            img:hover{
                cursor: pointer;
            }
        }
    }
}