@import "../../index.scss";

.card{
    flex: 1 0 16rem;
    margin: 1.5rem;
    padding: 1.5rem;
    color: black;
    text-decoration: none;

    .content-img{
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;

        .card-img-top{
            justify-content: center;
            width: 10rem;
        }
    }

    .card-body{
        *{
            margin: 0px;
            font-size: 14px;
        }

        .price{
            width: 4rem;
            margin-top: 1rem;
            font-size: 18px;
            padding: .5rem;
            background-color: $primaryColor;
        }
    }
}